*{
	margin: 0;
	padding: 0;
	font-family: 'Popins', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	background: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
}

.btn{
	width: 150px;
	padding: 10px;
	border: 0;
	border-radius: 30px;
	background: blue;
	cursor: pointer;
	color: whitesmoke;
	font-size: 20px;
	font-weight: 600;
}

.popup{
	width: 400px;
	position: absolute;
	text-align: center;
	background: yellow;
	border: 0;
	border-radius: 10px;
	padding: 20px;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	visibility: hidden;
}

.popup h1{
	color: green;
	margin-bottom: 20px;
}

.popup-open{
	top: 50%;
	transform: translate(-50%, -50%) scale(1.0);
	visibility: visible;
	transition: transform 1s, top 1s;
}

.popup h2{
	color: black;
	margin-bottom: 10px;
}

.popup button{
	margin-top: 20px;
	width: 90%;
	height: 50px;
	border: 0;
	background: red;
	cursor: pointer;
	border-radius: 5px;
	color: whitesmoke;
	font-size: 23px;
	font-weight: 700;
}